aiohttp==3.9.1 ; python_full_version == "3.11.4"
aiosignal==1.3.1 ; python_full_version == "3.11.4"
altair==5.2.0 ; python_full_version == "3.11.4"
annotated-types==0.6.0 ; python_full_version == "3.11.4"
anyio==3.7.1 ; python_full_version == "3.11.4"
attrs==23.1.0 ; python_full_version == "3.11.4"
azure-core==1.29.5 ; python_full_version == "3.11.4"
azure-cosmos==4.5.1 ; python_full_version == "3.11.4"
azure-identity==1.15.0 ; python_full_version == "3.11.4"
azure-storage-blob==12.19.0 ; python_full_version == "3.11.4"
blinker==1.7.0 ; python_full_version == "3.11.4"
cachetools==5.3.2 ; python_full_version == "3.11.4"
certifi==2023.11.17 ; python_full_version == "3.11.4"
cffi==1.16.0 ; python_full_version == "3.11.4"
charset-normalizer==3.3.2 ; python_full_version == "3.11.4"
chess==1.10.0 ; python_full_version == "3.11.4"
click==8.1.7 ; python_full_version == "3.11.4"
colorama==0.4.6 ; python_full_version == "3.11.4"
cryptography==41.0.7 ; python_full_version == "3.11.4"
dataclasses-json==0.6.3 ; python_full_version == "3.11.4"
diskcache==5.6.3 ; python_full_version == "3.11.4"
distro==1.8.0 ; python_full_version == "3.11.4"
ecdsa==0.18.0 ; python_full_version == "3.11.4"
fastapi==0.104.1 ; python_full_version == "3.11.4"
flaml==2.1.1 ; python_full_version == "3.11.4"
frozenlist==1.4.0 ; python_full_version == "3.11.4"
gitdb==4.0.11 ; python_full_version == "3.11.4"
gitpython==3.1.40 ; python_full_version == "3.11.4"
greenlet==3.0.1 ; (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version == "3.11.4"
h11==0.14.0 ; python_full_version == "3.11.4"
httpcore==1.0.2 ; python_full_version == "3.11.4"
httpx-sse==0.3.1 ; python_full_version == "3.11.4"
httpx==0.25.2 ; python_full_version == "3.11.4"
humanize==4.9.0 ; python_full_version == "3.11.4"
idna==3.6 ; python_full_version == "3.11.4"
importlib-metadata==6.8.0 ; python_full_version == "3.11.4"
isodate==0.6.1 ; python_full_version == "3.11.4"
jinja2==3.1.2 ; python_full_version == "3.11.4"
jsonpatch==1.33 ; python_full_version == "3.11.4"
jsonpointer==2.4 ; python_full_version == "3.11.4"
jsonschema-specifications==2023.11.1 ; python_full_version == "3.11.4"
jsonschema==4.20.0 ; python_full_version == "3.11.4"
langchain-cli==0.0.18 ; python_full_version == "3.11.4"
langchain==0.0.338 ; python_full_version == "3.11.4"
langserve[all]==0.0.31 ; python_full_version == "3.11.4"
langsmith==0.0.66 ; python_full_version == "3.11.4"
markdown-it-py==3.0.0 ; python_full_version == "3.11.4"
markupsafe==2.1.3 ; python_full_version == "3.11.4"
marshmallow==3.20.1 ; python_full_version == "3.11.4"
mdurl==0.1.2 ; python_full_version == "3.11.4"
msal-extensions==1.0.0 ; python_full_version == "3.11.4"
msal==1.25.0 ; python_full_version == "3.11.4"
multidict==6.0.4 ; python_full_version == "3.11.4"
mypy-extensions==1.0.0 ; python_full_version == "3.11.4"
numpy==1.26.2 ; python_full_version == "3.11.4"
openai==1.3.5 ; python_full_version == "3.11.4"
orjson==3.9.10 ; python_full_version == "3.11.4"
packaging==23.2 ; python_full_version == "3.11.4"
pandas==2.1.3 ; python_full_version == "3.11.4"
pillow==10.1.0 ; python_full_version == "3.11.4"
portalocker==2.8.2 ; python_full_version == "3.11.4"
protobuf==4.25.1 ; python_full_version == "3.11.4"
pyarrow==14.0.1 ; python_full_version == "3.11.4"
pyasn1==0.5.1 ; python_full_version == "3.11.4"
pyautogen==0.2.0 ; python_full_version == "3.11.4"
pycparser==2.21 ; python_full_version == "3.11.4"
pydantic-core==2.14.5 ; python_full_version == "3.11.4"
pydantic==2.5.2 ; python_full_version == "3.11.4"
pydeck==0.8.0 ; python_full_version == "3.11.4"
pygments==2.17.2 ; python_full_version == "3.11.4"
pyjwt[crypto]==2.8.0 ; python_full_version == "3.11.4"
pyodbc==5.0.1 ; python_full_version == "3.11.4"
python-dateutil==2.8.2 ; python_full_version == "3.11.4"
python-dotenv==1.0.0 ; python_full_version == "3.11.4"
python-jose==3.3.0 ; python_full_version == "3.11.4"
pytz==2023.3.post1 ; python_full_version == "3.11.4"
pywin32==306 ; python_full_version == "3.11.4" and platform_system == "Windows"
pyyaml==6.0.1 ; python_full_version == "3.11.4"
referencing==0.31.0 ; python_full_version == "3.11.4"
regex==2023.10.3 ; python_full_version == "3.11.4"
requests==2.31.0 ; python_full_version == "3.11.4"
rich==13.7.0 ; python_full_version == "3.11.4"
rpds-py==0.13.1 ; python_full_version == "3.11.4"
rsa==4.9 ; python_full_version == "3.11.4"
shellingham==1.5.4 ; python_full_version == "3.11.4"
six==1.16.0 ; python_full_version == "3.11.4"
smmap==5.0.1 ; python_full_version == "3.11.4"
sniffio==1.3.0 ; python_full_version == "3.11.4"
sqlalchemy==2.0.23 ; python_full_version == "3.11.4"
sse-starlette==1.8.2 ; python_full_version == "3.11.4"
starlette==0.27.0 ; python_full_version == "3.11.4"
streamlit-auth0-component==0.1.5 ; python_full_version == "3.11.4"
streamlit==1.28.2 ; python_full_version == "3.11.4"
tenacity==8.2.3 ; python_full_version == "3.11.4"
termcolor==2.3.0 ; python_full_version == "3.11.4"
tiktoken==0.5.1 ; python_full_version == "3.11.4"
toml==0.10.2 ; python_full_version == "3.11.4"
tomlkit==0.12.3 ; python_full_version == "3.11.4"
toolz==0.12.0 ; python_full_version == "3.11.4"
tornado==6.3.3 ; python_full_version == "3.11.4"
tqdm==4.66.1 ; python_full_version == "3.11.4"
typer[all]==0.9.0 ; python_full_version == "3.11.4"
typing-extensions==4.8.0 ; python_full_version == "3.11.4"
typing-inspect==0.9.0 ; python_full_version == "3.11.4"
tzdata==2023.3 ; python_full_version == "3.11.4"
tzlocal==5.2 ; python_full_version == "3.11.4"
urllib3==2.1.0 ; python_full_version == "3.11.4"
uvicorn==0.23.2 ; python_full_version == "3.11.4"
validators==0.22.0 ; python_full_version == "3.11.4"
watchdog==3.0.0 ; platform_system != "Darwin" and python_full_version == "3.11.4"
yarl==1.9.3 ; python_full_version == "3.11.4"
zipp==3.17.0 ; python_full_version == "3.11.4"
